<h1>Login</h1>

<%= form_for :user do |f| %>
    Username: <%= f.text_field :username %>
    Password: <%= f.password_field :password %>
    <%= f.submit "Log In" %>
<% end %><br><br>

<%= link_to('Log in with Google!', '/auth/google_oauth2', method: :post) %>