<h1><%= @hotel.name %></h1>

<h2>Location: <%= @hotel.location.name %></h2><br>
<h2>Price Level: <%= @hotel.price_level %></h2><br>
<h2>Amenities: <%= @hotel.amenities %></h2>

<p><%= link_to 'Leave a review', new_hotel_review_path(@hotel) %></p>

<p>See what others have said:</p>
<% @hotel.reviews.each do |review| %>
    <li><%= review.content %><br> By: <%= review.user.username %><br><%= link_to 'Go to Review', hotel_review_path(@hotel, review) %></li>
<% end %>
 

