<h1>Add A New Review</h1>

<%= form_for([@hotel, @review]) do |f| %>

   <% if @review.errors.any? %>
   <h2>Errors:</h2>
   <ul>
      <% @review.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>
   </ul>
   <% end %>

    <%= f.label :date_visited %><br>
    <%= f.date_select :date_visited %><br><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br><br>

    <%= f.submit %>

<% end %>

