<%= form_for([@hotel, @review]) do |f| %>

   <% if @review.errors.any? %>
   <h2>Errors:</h2>
   <ul>
      <% @review.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>
   </ul>
   <% end %>

    <%= f.label :date_visited %>
    <%= f.date_select :date_visited %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>

<% end %>

