<h1>Add A New Location</h1>

<%= form_for @location do |f| %>

   <% if @location.errors.any? %>
   <h2>Errors:</h2>
   <ul>
      <% @location.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>
   </ul>
   <% end %>


    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'City, State' %>

    <%= f.submit %>

<% end %>